{% extends "bootstrap/base.html" %}
{% block title %}Multiple Plot Areas{% endblock %}

{% block scripts %}
	{{super()}}

	<script language="javascript" type="text/javascript" src="static/js/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="static/js/jquery.flot.min.js"></script>
	<script type="text/javascript">

		$(function() {

			var tid_data = {};
			var tid_plots = {};
			var tid_count = 0;

			function fetchData(callback_func) {
				$.ajax ({
					type: "GET",
					dataType: "json",
					url: "/get_sensor_data2/1",
					success: callback_func,
					error: function() {
						console.log("Error fetching data.")
					}
				});
			}

			function parseData(fetched_data) {
				for (var tid in fetched_data) {
					if (!(tid in tid_data)) {
						tid_data[tid] = []; // per figure

						createTIDPlaceholder(tid);
						console.log("Created placeholder.");

						tid_plots[tid] = newPlot(tid);
						console.log("Created plot.");

						tid_count++;
					}
					for (var node_name in fetched_data[tid]) {
						var node_data = [];

						for (var x = 0; x < fetched_data[tid][node_name].length; x++) {
							var y = parseInt(fetched_data[tid][node_name][x]['sdata']);

							node_data.push([x, y]);
						}

						var not_in_data = true;
						for (var i = 0; i < tid_data[tid].length; i++) {
							if (tid_data[tid][i].label == node_name) {
								tid_data[tid][i].data = node_data;
								not_in_data = false;
							}
						}

						if (not_in_data) {
							var new_node_dict = {
								label: node_name,
								data: node_data,
								lines: {
									show: true
								}
							};
							tid_data[tid].push(new_node_dict);
						}
					}
				}
				return true; // return true if successful
			}

			// Set up the control widget
			var updateInterval = 30;
			$("#updateInterval").val(updateInterval).change(function () {
				var v = $(this).val();
				if (v && !isNaN(+v)) {
					updateInterval = +v;
					if (updateInterval < 1) {
						updateInterval = 1;
					} else if (updateInterval > 2000) {
						updateInterval = 2000;
					}
					$(this).val("" + updateInterval);
				}
			});

			function createTIDPlaceholder(tid) {
				var placeholder_name = tid + "-placeholder";
				var curr_row_id;
				if (tid_count % 2 == 0) {
					curr_row_id = "row-" + (tid_count / 2).toString();
					$('#plot-container').append($("<div></div>").attr({
						"id": curr_row_id,
						"class": "row"
					}));
				}
				else {
					curr_row_id = "row-" + ((tid_count - 1) / 2).toString();
				}

				var curr_col_id = "col-" + tid_count.toString();
				$("#" + curr_row_id).append($("<div></div>").attr({
					"id": curr_col_id,
					"class": "col-md-6"
				}));

				var title_id = tid + "-title";
				$("#" + curr_col_id).append($("<h4></h4>").attr({
					"id": title_id,
					"class": "text-center"
				}));
				$("#" + title_id).text("TID = " + tid);

				$("#" + curr_col_id).append($("<div></div>").attr({
					"id": placeholder_name,
					"class": "plot-placeholder text-center",
					"style": "width:500px; height:400px;"
				}));

				console.log($('#plot-container').html());
			}

			function newPlot(tid) {
				var placeholder_name = "#" + tid + "-placeholder";
				return $.plot(placeholder_name, [], {
					series: {
						shadowSize: 0
					},
					yaxis: {
						min: 200,
						max: 900
					},
					xaxis: {
						show: false
					}
				});
			}

			function update() {
				fetchData(function(results){
					if (parseData(results)) {
						for (tid in tid_plots) {
							tid_plots[tid].setData(tid_data[tid]);
							tid_plots[tid].setupGrid();
							tid_plots[tid].draw()
						}
						setTimeout(update, updateInterval);
					}
				});
			}

			update();

			$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
		});

	</script>

{% endblock %}

{% block content %}
	<div id="plot-container" class = "container">
	</div>

	<div class = "container">
		<div class = "row">
			<div class = "col-md-12">
				<p>
					<br>
				</p>
				<p class = "text-center"><b>Time between updates</b>: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>
			</div>
		</div>
	</div>
{% endblock %}
