{% extends "bootstrap/base.html" %}
{% block title %}Multiple Plot Areas{% endblock %}

{% block scripts %}
	{{super()}}

	<script language="javascript" type="text/javascript" src="static/js/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="static/js/jquery.flot.min.js"></script>
	<script type="text/javascript">

		$(function() {

			var default_min = 200;
			var default_max = 900;

			var tid_data = {};
			var tid_plots = {};
			var tid_count = 0;

      var checked_tid_node = {}; // data container for indicating whether a plot is checked or not

			var tid_min_max = {};

			function fetchData(callback_func) {
				$.ajax ({
					type: "GET",
					dataType: "json",
					url: "/get_sensor_data2/1",
					success: callback_func,
					error: function() {
						console.log("Error fetching data.")
					}
				});
			}

			function parseData(fetched_data) {
				for (var tid in fetched_data) {
					if (!(tid in tid_data)) {
						tid_data[tid] = []; // per figure
            checked_tid_node[tid] = {}; // create a container for tid
						tid_min_max[tid] = {
							"min": default_min,
							"max": default_max
						};

						createTIDPlaceholder(tid);

						tid_plots[tid] = newPlot(tid);

						tid_count++;
					}
					for (var node_name in fetched_data[tid]) {
						var node_data = []; // empty node data

						if (checked_tid_node[tid][node_name] == true) {
							for (var x = 0; x < fetched_data[tid][node_name].length; x++) {
								var y = parseInt(fetched_data[tid][node_name][x]['sdata']);

								node_data.push([x, y]);
							}
						}

						var not_in_data = true;
						for (var i = 0; i < tid_data[tid].length; i++) {
							if (tid_data[tid][i].label == node_name) {
								tid_data[tid][i].data = node_data;
								not_in_data = false;
							}
						}

						if (not_in_data) {
              var new_node_dict = {
								label: node_name,
								data: node_data,
								lines: {
									show: true
								}
							};
							tid_data[tid].push(new_node_dict);
              checked_tid_node[tid][node_name] = true; // by default display the plot
							createCheckbox(tid, node_name);
						}
					}
				}
				return true; // all data has been successfully placed
			}

			// Set up the control widget
			var updateInterval = 30;
			$("#updateInterval").val(updateInterval).change(function () {
				var v = $(this).val();
				if (v && !isNaN(+v)) {
					updateInterval = +v;
					if (updateInterval < 1) {
						updateInterval = 1;
					} else if (updateInterval > 2000) {
						updateInterval = 2000;
					}
					$(this).val("" + updateInterval);
				}
			});

			function createTIDPlaceholder(tid) {
				var placeholder_id = tid + "-placeholder";
				var toggle_id = tid + "-toggle";

				var plotContainer = $("#plot-container");
				plotContainer.append(
					"<div class = 'row'>" +
						"<div class = 'col-md-12 text-center'>" +
							"<h3>" +
								"TID = " + tid +
							"</h3>" +
						"</div>" +
					"</div>" +
					"<div class = 'row'>" +
						"<div class = 'col-md-1'></div>" +
						"<div class = 'col-md-7'>" +
							"<div class = 'plot-placeholder container' id = '" + placeholder_id + "' style = 'width: 600px; height: 500px;'>" +
							"</div>" +
						"</div>" +
						"<div class = 'col-md-3 text-left'>" +
							"<h6>" +
								"<ul class = 'list-unstyled small' id = '" + toggle_id + "'>" +
								"</ul>" +
							"</h6>" +
						"</div>" +
						"<div class = 'col-md-1'>" +
						"</div>" +
					"</div>" +
					"<div class = 'row'>" +
						"<div class = 'col-md-6 text-right'>" +
							"<p>" +
								"<b>Minimum</b>: " + "<input type 'text' name = '" + tid + "' value = '" + default_min.toString() + "' class = 'minimum' id = '" + tid + "-minimum'></input>" +
							"</p>" +
						"</div>" +
						"<div class = 'col-md-6 text-left'>" +
							"<p>" +
								"<b>Maximum</b>: " + "<input type 'text' name = '" + tid + "' value = '" + default_max.toString() + "' class = 'maximum' id = '" + tid + "-maximum'></input>" +
							"</p>" +
						"</div>" +
					"</div>"
				);
			}

			function createCheckbox(tid, node_name) {
				var toggle_id = tid + "-toggle";
				var checkbox_id = toggle_id + "-" + node_name;

				var toggleContainer = $("#" + toggle_id);
				toggleContainer.append("<li>" +
						"<input type = 'checkbox' " +
							"class = 'node-toggle'" +
							"checked = 'checked'" +
							" id = '" + checkbox_id +
							"' name = '" + tid +
							"' value = '" + node_name + "'" +
							"'>" +
						"</input>" +
						"<label for = '" + checkbox_id + "'>" +
							node_name +
						"</label>" +
					"</li>"
				);
			}

			function newPlot(tid) {
				var placeholder_id = "#" + tid + "-placeholder";
				return $.plot(placeholder_id, [], {
					series: {
						shadowSize: 0
					},
					yaxis: {
						min: 200,
						max: 900
					},
					xaxis: {
						show: false
					}
				});
			}

			function update() {
				$(".node-toggle").click(toggleSeries);
				$(".minimum").change(changeMinimum);
				$(".maximum").change(changeMaximum);

				fetchData(function(results){
					if (parseData(results)) {
						for (tid in tid_plots) {
							tid_plots[tid].setData(tid_data[tid]);

							tid_plots[tid].getAxes().yaxis.options.min = tid_min_max[tid]["min"];
							tid_plots[tid].getAxes().yaxis.options.max = tid_min_max[tid]["max"];

							tid_plots[tid].setupGrid();
							tid_plots[tid].draw()
						}
						setTimeout(update, updateInterval);
					}
				});
			}

			function toggleSeries() {
				var tid = $(this).attr("name");
				var node_name = $(this).attr("value");

				console.log("Checkbox value with tid = " + tid + " and node name = " + node_name + " changed.");

				if ($(this).attr('checked') == "checked") {
					console.log("Checked!");
					checked_tid_node[tid][node_name] = true;
				}
				else {
					console.log("Unchecked!");
					checked_tid_node[tid][node_name] = false;
				}
			}

			function changeMinimum() {
				var tid = $(this).attr("name");
				var new_min = parseInt($(this).attr("value"));

				if (new_min < 0) {
					new_min = 0;
				}
				else if (new_min > 1000) {
					new_min = 1000;
				}

				tid_min_max[tid]["min"] = new_min;
			}

			function changeMaximum() {
				var tid = $(this).attr("name");
				var new_max = parseInt($(this).attr("value"));

				if (new_max < 0) {
					new_max = 0;
				}
				else if (new_max > 1000) {
					new_max = 1000;
				}

				tid_min_max[tid]["max"] = new_max;
			}

			update();
		});

	</script>

{% endblock %}

{% block content %}
	<div id="plot-container" class = "container">
	</div>

	<div class = "container">
		<div class = "row">
			<div class = "col-md-12">
				<p>
					<br>
				</p>
				<p class = "text-center"><b>Time between updates</b>: <input id="updateInterval" type="text" value="" style="text-align: right; width:5em"> milliseconds</p>
			</div>
		</div>
	</div>
{% endblock %}
